/* ===== Tailwind directives ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Custom styles ===== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* light theme */
  --background: 248, 250, 252;
  --subBackground: 252, 253, 254;
  --foreground: 20, 26, 41;
  --inputBckground: 239, 242, 245;
  --muted-foreground: 156, 163, 175;
  --buttonBackground: 10, 163, 194;
  --textColor: 15, 23, 41;
  --logoColorText: 15, 23, 41;
  --logoColor: 255, 255, 255;
  --logoBackground: 222, 244, 249;
}

.dark {
  --background: 8, 12, 22;
  --subBackground: 11, 16, 29;
  --foreground: 243, 244, 246;
  --inputBckground: 9, 23, 37;
  --muted-foreground: 156, 163, 175;
  --buttonBackground: 13, 204, 242;
  --textColor: 241, 245, 249;
  --logoColorText: 255, 255, 255;
  --logoColor: 15, 23, 41;
  --logoBackground: 11, 37, 52;
}
.glow-sm:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.dark .glow-sm:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}